#image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#image-container img {
    width: 50%;
}

.dot {
    pointer-events: none;
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
}

#game-grid {
    display: grid;
    grid-template-columns: repeat(8, 15px);
    /* grid-gap: 2px; */
    margin: 20px;
}
.grid-cell {
    width: 15px;
    height: 15px;
    border: 1px solid #ccc;
}
.player {
    background-color: grey;
}