#game-grid {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-gap: 2px;
    margin: 20px;
}
.grid-cell {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
}
.player {
    background-color: grey;
}

.dot {
  pointer-events: none;
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}